/* Empty. Add your own CSS if you like */
p {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: oblique;
    font-size: 20px;
    text-align: center;
}

.complete{
	color: black;
	text-decoration: line-through;
}

.item-complex .item-content .complete{ 
	background-color: lightgrey; 
}



